@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
/* font-family: 'Abel', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Alef&display=swap');
/* font-family: 'Alef', sans-serif; */
a{
    text-decoration: none;
}
img{
    max-width: 100%;
}
.container{
    max-width: 1240px;
    padding:0px 20px;
    margin:0 auto;
}
.header{
    padding-top: 220px;
    padding-bottom: 220px;
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.header-title h3{
    text-align: center;
    font-family: 'Abel', sans-serif;
    font-size: 196px;
    color: #EEB960;
    margin-bottom: 26px;
}
.header-information{
    background: rgba(70, 54, 43, 0.6);
}
.header-subtitle h3{
    text-align: center;
    font-size: 40px;
    font-family: 'Abel', sans-serif;
    color: #FFFFFF;
}
.shop{
    padding:79px 0px 106px 0px;
}
.shop-title h3{
    margin:0 auto;
    max-width:502px;
    font-family: 'Abel', sans-serif;
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.1em;
    color: #46362B;
    margin-bottom: 35px;
    border-bottom: 2px solid #EEB960;
}
.shop-text p{
    margin: 0 auto;
    max-width: 936px;
    text-align: center;
    line-height: 45px;
    font-size: 24px;
    color: #46362B;
    letter-spacing: 0.05em;
}
.inforamtion-items{
    padding:100px 0px 100px 0px;
    background-color: #46362B;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.information-item{
    width: 280px;
}
.information-item-image{
    padding-left: 56px;
    margin-bottom: 25px;
}
.information-item-title h3{
    font-size: 28px;
    line-height: 36px;
    font-family: 'Abel', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #F8E9D0;
    width: 250px;
    text-align: center;
    margin-bottom: 35px;
}
.information-item-text p{
    max-width: 278px;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    font-family: 'Abel', sans-serif;
    text-align: center;
}
.product{
    padding: 84px 0px 148px 0px;
}
.product-title h3{
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.2em;
    color: #332B25;
    font-family: 'Abel', sans-serif;
    margin-bottom: 29px;
}
.product-text p{
    font-size: 24px;
    line-height: 38px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 0.05em;
    color: #46362B;
    text-align: center;
    max-width: 1074px;
    margin: 0 auto;
    margin-bottom: 78px;
}
.product-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;
}
.product-item-image{
    margin-bottom: 24px;
}
.product-item-title{
    margin-bottom: 1px;
}
.product-item-title h3{
    font-size: 27px;
    width: 400px;
    line-height: 46px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 0.05em;
    color: #332B25;
    text-align: center;
}
.product-item-salary{
    text-align: center;
}
.product-item-salary span{
    font-size: 20px;
    color: rgba(70, 54, 43, 0.8);
    letter-spacing: 0.05em;
    font-family: 'Abel', sans-serif;
}
.gift-title h3{
    font-size: 50px;
    text-align: center;
    letter-spacing: 0.2em;
    text-align: center;
    color: #332B25;
    font-family: 'Abel', sans-serif;
    margin-bottom: 26px;
}
.gift-text p{
    color: #46362B;
    letter-spacing: 0.05em;
    font-size: 24px;
    line-height: 38px;
    font-family: 'Abel', sans-serif;
    max-width: 1074px;
    margin:0 auto;
    text-align: center;
    margin-bottom: 114px;
}
.gift-wrapper{
    display: flex;
    justify-content: space-around;
}
.gift-title h3{
    text-align: center;
    font-size: 50px;
    letter-spacing: 0.2em;
    color: #332B25;
    font-family: 'Abel', sans-serif;
    margin-bottom: 29px;
}
.gift-text p{
    font-size: 24px;
    line-height: 38px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 0.05em;
    color: #46362B;
    text-align: center;
    max-width: 1074px;
    margin: 0 auto;
    margin-bottom: 78px;
}
.gift-item-image{
    margin-bottom: 24px;
}
.gift-item-title{
    margin-bottom: 1px;
}
.gift-item-title h3{
    font-size: 27px;
    width: 400px;
    line-height: 46px;
    font-family: 'Abel', sans-serif;
    letter-spacing: 0.05em;
    color: #332B25;
    text-align: center;
}
.gift-item-salary{
    text-align: center;
}
.gift-item-salary span{
    font-size: 20px;
    color: rgba(70, 54, 43, 0.8);
    letter-spacing: 0.05em;
    font-family: 'Abel', sans-serif;
}
.footer{
    padding:51px 0px 76px 0px;
    background-color:#46362B;
}
.footer-title h3{
    font-family: 'Abel', sans-serif;
    margin: 0 auto;
    max-width:502px;
    font-size: 40px;
    text-align: center;
    letter-spacing: 0.2em;
    color: #FFFFFF;
    border-bottom: 2px solid #EEB960;
    margin-bottom: 45px;
}
.footer-text p{
    text-align: center;
    letter-spacing: 0.1em;
    margin: 0 auto;
    max-width: 1070px;
    font-family: 'Abel', sans-serif;
    font-size: 24px;
    line-height: 38px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.footer-bth{
    text-align: center;
    margin-bottom: 50px;
}
.footer-bth a{
    text-transform: uppercase;
    font-family: 'Abel', sans-serif;
    color:black;
    font-size: 30px;
    background-color: #EEB960;
    border-radius: 30px;
    padding:8px 16px;
}
.footer-information h3{
    text-align: center;
    margin:0 auto;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Abel', sans-serif;
    border-bottom: 2px solid #EEB960;
    width: 160px;
    margin-bottom: 40px;
}
.socia-links{
    text-align: center;
}
.socia-links a{
    display: inline-block;
    padding-right: 72px;
}
.socia-links a:last-child{
    padding:0px
}
@media(max-width:1196px){
    .header-title h3 {
        font-size: 149px;
    }
}
@media(max-width:918px){
    .header-title h3 {
        font-size: 100px;
    }
}
@media(max-width:612px){
    .header-title h3 {
         font-size: 60px;
    }
    .header-subtitle h3 {
        font-size: 25px;
    }
}
@media(max-width:372px){
    .header-title h3 {
        font-size: 45px;
   }
   .header-subtitle h3 {
        font-size: 22px;
   }
}
@media(max-width:530px){
    .shop-title h3 {
        max-width: 315px;
        line-height: 61px;
    }
}
@media(max-width:920px){
    .inforamtion-items {
        gap: 80px;
        display: grid;
    }
    .img3{
        padding-left: 70px;
    }
}
@media(max-width:863px){
    .product-wrapper {
        overflow: hidden;
        display: grid;
        gap: 65px;
    }
}
@media(max-width:427px){
    .product-text p {
        width: 270px;
    }
    .product-title h3 {
        font-size: 39px;
        max-width: 280px;
        margin-bottom: 23px;
        margin: 0 auto;
        padding-bottom: 33px;
    }
}
@media(max-width:332px){
    .product-title h3 {
        font-size: 33px;
    }
}
@media(max-width:883px){
    .gift-wrapper {
        overflow: hidden;
        display: grid;
        justify-content: space-around;
        gap: 60px;
    }
}
@media(max-width:430px){
    .gift-item-title h3 {
        font-size: 23px;
        margin: 0 auto;
        max-width: 260px;
    }
}
@media(max-width:550px){
    .socia-links a {
        padding: 0;
    }
}
@media(max-width:461px){
    .footer-bth a {
        font-size: 16px;
    }
}
@media(max-width:402px){
    .socia-links img {
        width: 60%;
    }
}